/* div{
  border:1px solid black;
} */

.main-cont{
  position: relative;
  margin:auto;
  margin-top:1em;
}
.main-ring{
  position: absolute;
  top:0;
  left:2.5%;
  height: 90vw;
  width: 90vw;  
  margin-left: 2.5vw;
  border-radius: 50%;
  display: inline-block;
  max-height:650px;
  max-width:650px;
  z-index:5;
  transition: 1s;
  pointer-events: none;
}

.outer-ring{
  position: absolute;
  left:2.5%;
  top:0;
  height: 90vw;
  width: 90vw;  
  margin-left: 2.5vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  max-height:650px;
  max-width:650px;
  transform: rotate(0deg);
  z-index:-2;
}
.inner-ring{
  position: absolute;  
  left:2.5%;  
  top:0px;
  height: 90vw;
  width: 90vw;  
  margin-left: 2.5vw;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  max-height:650px;
  max-width:650px;
  transform: scale(.8);
  overflow:hidden;
  box-shadow: 2px 8px 16px 0 rgba(0,0,0,0.2), 2px 6px 20px 0 rgba(0,0,0,0.19);
   
}
#hero-image{
  opacity: 0;
  transition: 2s;
  background:url("./img/mainPhoto.2b.png");
  width:100%;
  height:100%;
  background-size: cover;
}
.menu-link{
  color:white;
  transition: .5s;
}
.menu-link:hover{
  text-decoration: none;
  color: black;
  font-weight:bold;
}
#about-text{
  opacity: 0;
  transition: 2s;
  padding-top:10vw;
  padding-left:3em;
  padding-right:1em;
  width:100%;
  height:100%;
  color:white;
  border-radius: 50%;
  font-size:large;
  overflow:auto;
}
#code-text{
  opacity: 0;
  transition: 2s;
  position: absolute;
  left: 2.5%;
  top: 50%;
  height: 90vw;
  width: 90vw;
  margin-left: 2.5vw;
  background-color: black;
  color:white;
  font-size:120%;
  z-index: 7;
  max-height: 650px;
  max-width: 650px;
  transform: scale(.8);
  transform: translate(0,40%) scale(.8);
}
#code-header{
  opacity: 0;
  transition: 2s;
  padding-top:10vw;
  padding-left:3em;
  padding-right:1em;
  width:100%;
  height:100%;
  color:white;
  border-radius: 50%;
  font-size:large;
  overflow:auto;
}
.contact-info{
  text-align:center;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent
}

.menu-item{
  position: absolute;
  text-align: center;
  color:white;
  z-index:5;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  pointer-events: auto;
}
.top{
  position: absolute;
  margin:0 auto;
  left:0;
  right:0;
  text-align:center;  
  width:fit-content;
  z-index:5;
  opacity: .99;
}
.right{
  position: absolute;
  text-align: center;
  transform: rotate(90deg); 
  transform-origin: 0% 0%;
  left:100%;
  top:45%;

}
.left{
  transform: rotate(-90deg);    
   margin-top:auto;
  transform-origin: 0% 0%;
  top:55%;
}
/* .right-cont{
  /* width:100% */
/* } */ 
.bottom{
  position: absolute;
  bottom:0%;
  left:45%;
}
/* .about{
} */
/* a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
  font-weight:bold;
} */



@media only screen and (max-width: 300px) {
  .fas{
    display: none;
  }
  .right{
    top:40%;
  }
  .bottom{
    left:40%;
  }
  #about-text{
    font-size:smaller;
  }
} 

@media only screen and (min-width: 500px) {
  #about-text{
    padding-top: 20%;
  } 
} 

